
h2 {
    text-align:center;
    font-weight:bold;
}

#formSaisie label {
    font-family: "MaMeteo";
}

#colBouton {
}

/* *****RESULTATS***** */

/* Colonnes des emplacements */
.empVille {
    /* background-clip:content-box; */
    /* background-color: white; */
}

/* Le style associé aux emplacements de villes */
.divVille {
    /* border-style:groove; */
    /* margin-bottom:10px; */
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    height:100%;
    -moz-box-shadow: 0px 0px 3px 0px #656565;
    -webkit-box-shadow: 0px 0px 3px 0px #656565;
    -o-box-shadow: 0px 0px 3px 0px #656565;
    box-shadow: 0px 0px 3px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=4);


    background: -moz-linear-gradient(-45deg, rgba(255,255,255,0.5) 0%, rgba(243,243,243,0.5) 50%, rgba(237,237,237,0.5) 51%, rgba(255,255,255,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0.5) 0%,rgba(243,243,243,0.5) 50%,rgba(237,237,237,0.5) 51%,rgba(255,255,255,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255,255,255,0.5) 0%,rgba(243,243,243,0.5) 50%,rgba(237,237,237,0.5) 51%,rgba(255,255,255,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#80ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-color: white;
}

li {
    background-color:transparent
}

/* zone de nom de la ville */
.titreVille {
    display: flex;
    align-items: center;
    justify-content: center;
    height:55px;
    border-radius: 5px 5px 0 0;
    font-size: 1.8em;
    font-weight: bold;
    padding:0;
    width:100%;
    position: relative;
    /* color:whitesmoke; */
}

.divFavori {
    position : absolute;
    right:5%;
}

/* code pays affiché dans le titre */
.codePays {
    font-size: 0.7em;
}

#titreVille1 {
    /* background-color:rgb(194, 223, 248); */
    background-color: cornflowerblue;
}

#titreVille2 {
    /* background-color:rgb(248, 163, 184); */
    background-color: indianred;
}

/* style du picto favori (étoile) */
.favori {
    font-size: 1em;
    -webkit-transition: opacity 0.1s ease, background 0.1s ease, text-shadow 0.1s ease, color 0.1s ease;
    transition: opacity 0.1s ease, background 0.1s ease, text-shadow 0.1s ease, color 0.1s ease;
    background: transparent;
    color: rgb(255, 208, 0);
    text-shadow: 0px -1px 0px #b86800, -1px 0px 0px #b86800, 0px 1px 0px #b86800, 1px 0px 0px #b86800 !important;
}

.nonFavori {
    color:white;
    border-color: #cd0707;
    border-width: x-large;
    font-size: 1em;
    text-shadow: none !important;
    -webkit-transition: opacity 0.1s ease, background 0.1s ease, text-shadow 0.1s ease, color 0.1s ease;
    transition: opacity 0.1s ease, background 0.1s ease, text-shadow 0.1s ease, color 0.1s ease;
    background: transparent;
    color: rgba(0, 0, 0, 0.15);
}

.favori:hover, .nonFavori:hover  {
    /* text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.40); */
    font-size:1.05em; 
}

li {
    border: none;
}

.dataPrinc {
    font-size: 1.5em;
    color:cornflowerblue;
}

#villeDroite .dataPrinc {
    color:indianred;
}

#villeDroite .dataSecond {
    color:indianred;
}

.dataPrinc i {
    font-size: 1.5em;
}

/* icône de flèche lever coucher de soleil */
.fleche {
    /* color:grey; */
}

.col-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dataSecond {
    font-size: 1em;
    color:cornflowerblue;
}

#colBouton {
    display: flex;
    flex-direction: row;
    direction:ltr;
    align-items: flex-end;
}


.btn-circle.btn-lg {
    width: 70px;
    height: 70px;
    font-size: 2em;
    border-radius: 35px;
    background-color: cornflowerblue;
  }

.btn-circle.btn-lg i {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CHECKBOX EMPLACEMENT */

input[type=checkbox] {
	visibility: hidden;
}
.checkEmp {
	width: 80px;
	height: 35px;
	background: whitesmoke;
	margin: 0 5% 0 5%;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	position: relative;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.checkEmp:after {
	content: '2';
	font:30px/36px Arial, sans-serif;
	color: indianred;
	position: absolute;
	right: 10px;
	z-index: 0;
    font-weight: bolder;
}

.checkEmp:before {
	content: '1';
	font: 30px/36px Arial, sans-serif;
	color: cornflowerblue;
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bolder;
}

.checkEmp label {
	display: block;
	width: 34px;
	height: 29px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	left: 3px;
	z-index: 1;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.checkEmp input[type=checkbox]:checked + label {
	left: 43px;
}

.dernierReleve {
    text-align:center;
    font-style:oblique;
    font-size: 0.8em;
}



  @media (max-width: 768px) {
    
    #colBouton {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .checkEmp {
        margin: 0 20% 0 0;
    }
    
    #ligneResultats {
        margin:0;
    }

    .empVille {
        padding:3px;
    }

    .titreVille {
        font-size: 1.6em;
    }

    .favori:hover, .nonFavori:hover  {
        font-size:1em; 
        text-shadow: none;
    }

  }